.text-uppercase {
	text-transform: uppercase!important;
}

.text-capitalize {
	text-transform: capitalize!important;
}

.text-lowercase {
	text-transform: lowercase!important;
}

/* shadowy material-like style */
.shadow-0 {
	box-shadow: none;
}

.shadow-1 {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.shadow-2 {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.shadow-3 {
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
}

.shadow-4 {
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
}

.shadow-5 {
	box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);
}

/* color swatch */

.primary-color {
	color: #AEBE89!important;
}

.primary-bg {
	background-color: #AEBE89;
}

.secondary-color {
	color: #DAE3BB!important;
}

.secondary-bg {
	background-color: #A3DBFD !important;
}

.foreground-color {
	color: #ADDCCA!important;
}

.foreground-bg {
	background-color: #ADDCCA;
}

.background-color {
	color: #FAF8F0!important;
}

.background-bg {
	background-color: #FAF8F0;
} 

/* color swatch */

/* pagination */
.pagination {
	text-align: center;
}
.pagination li.active {
	background-color: #A3DBFD !important;
}

/* pagination */

/* gliderjs style */

.glide__slides {
	margin: auto;
}

.glide__bullets {
	bottom: 9em!important;
}

.glide__bullets .glide__bullet {
	background-color: rgba(0, 0, 0, 0.658)!important;
}

.glide__bullets .glide__bullet--active {
	background-color: rgb(255, 255, 255)!important;
}

/* gliderjs style */

/* Tooltip */
 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
	cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 95%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 
/* Tooltip */

/* tabs */
.tabs {
  border-radius: 2px;
}
.tabs .tab a{
  color:#797979!important;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:rgb(245, 245, 245);
  color:#797979!important;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:rgb(233, 233, 233)!important;
  color:#797979;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#8b936d!important;
} /*Color of underline*/

/* tabs */

/* material design icon size */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* material design icon size */


/* override materializecss style */
blockquote {
  border-left: 3px solid #A3DBFD !important;
}
/* override materializecss style */

/* override svelte-pdfviwer */
.null canvas {
  width: 100%!important;
  height: 100%!important;
  display: block;
}

.line {
  font-family: inherit!important;
}

#topBtn {
  display: none!important;
}
/* override svelte-pdfviwer */